<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ConcernConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Concern.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RankenConcernConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ConcernDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

    <location path="default.aspx">
      <system.web>
       <authorization>
        <allow users ="*" />
      </authorization>
     </system.web>
    </location>
  
    <location path="Success.aspx">
      <system.web>
        <authorization>
          <allow users ="*" />
        </authorization>
      </system.web>
    </location>
  
  
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="Logon.aspx" name=".ASPXFORMSAUTH" defaultUrl="Admin.aspx"/>
      </authentication>
      <authorization>
        <deny users="?"/>  
      </authorization>
      
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
